body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    background: linear-gradient(gray, grey, whitesmoke);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: black;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: darkgray;
    color: blue;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 15px;
    border-radius: 5px;
}

a:hover {
    background-color: darkred;
}
