body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h2 {
    font-weight: bold;
}

.result {
    background-color: #cce7f0;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
